.CenterItem {
   display: flex !important;
   justify-content: center !important;
}

.TextCenter {
   text-align: center !important;
}

:active,
:hover,
:focus {
   outline: 0 !important;
   outline-offset: 0;
}

::before,
::after {
   position: absolute;
   content: "";
}

.btn-holder {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1000px;
   margin: 10px auto 35px;
}

.btn {
   position: relative;
   display: inline-block;
   width: auto;
   height: auto;
   background-color: transparent;
   cursor: pointer;
   margin: 2rem 0rem 1rem;
   min-width: 32rem;
   border: 1px solid #000;
   border-radius: 2px;
}

.btn span {
   position: relative;
   display: inline-block;
   font-weight: bold;
   text-transform: uppercase;
   top: 0;
   left: 0;
   width: 100%;
   padding: 8px 20px;
   transition: 0.6s;
}

.btn-2::before {
   border-radius: 2px;
   background-color: #000;
   transition: 0.6s ease-out;
}

.btn-2 span {
   color: #000;
   transition: 0.4s;
}

.btn-2 span:hover {
   color: rgb(255, 255, 255);
   transition: 0.4s 0.2s;
}

.btn.hover-slide-right::before {
   top: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 0%;
}

.btn.hover-slide-right:hover::before {
   width: 100%;
}

.cursor{
   cursor: pointer !important;
}